/src/emscripted/*
/src/julius4/*
/src/include/*
!/src/include/libsent/
!/src/include/libjulius/
!/src/include/julius/
/bin/*
!/bin/mkfa
!/bin/dfa_minimize
!/bin/mkdfa.pl
/js/*
!/js/index.html
!/js/server.js
/bower_components/
/.emscripted_flag
/node_modules/
